.genre-input-box {
    text-align: center;
}

.dropdown {
    font-size: 1.5em;
}

.body {
    background-image: url('genre.jpg'), linear-gradient(90deg, #d966ff, #ffffff);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.genre-input {
    width: 55%;
    color: #5A85F4;
    height: 50px;
    margin: 5px;
    margin-top: 15px;
    font-size:200%;
    font-family: 'Open Sans'; 
    font-weight:300;
    text-align: center;
}

.submit-button {
    margin-top: 15px;
    text-align: center;
}

.site-title {
    text-align: center;
    font-family: 'Josefin Sans';
    margin-top: 20px;
    color: #ffffff;
}

.anime {
    color: #ffff66;
}

.home-link {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Josefin Sans';
    margin-left: 10%;
    margin-top: 10%;
}

a:hover {
    text-decoration: none;
    color: #9900ff;
}