body {
    background-image: url("invalid.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.invalid-info {
    text-align: center;
    color: #ffffff;
    font-family: 'Josefin Sans';
}

.content {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.home-link {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Josefin Sans';
    margin-left: 10%;
    margin-top: 10%;
}

a:hover {
    text-decoration: none;
    color: #9900ff;
}

.anime-input-box {
    text-align: center;
    margin-top: 3em;
}