.body {
    margin-left: 15px;
    margin-top: 10px;
}

.home-link {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Josefin Sans';
    margin-left: 10%;
    margin-top: 10%;
}

a:hover {
    text-decoration: none;
    color: #9900ff;
}

.anime-result {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.new-search {
    margin-left: 2em;
    margin-top: 0.5em;
}

.searched-anime {
    padding-left: 0.7em;
}