<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/animesearch.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/474ea9871e.js" crossorigin="anonymous"></script>
        <title>AnimeInfo</title>

        <link rel="apple-touch-icon" sizes="120x120" href="/favicon_package_v0.16/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0.16/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0.16/favicon-16x16.png">
        <link rel="manifest" href="/favicon_package_v0.16/site.webmanifest">
        <link rel="mask-icon" href="/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body class="body">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a href="{{url_for('home')}}" class="home-link">
                        AnimeInfo
                    </a>
                </li>
            </ul>
        </nav>
        <div class = "anime-search">
            <h1 class = "site-title">
                What <span class = "anime">Anime</span> are you looking for today?
            </h1>
            <form action="/animesearch" method="POST">
                <div class="anime-input-box">
                    <input type="text" placeholder="Anime Name" name="anime" class="anime-input" required>
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary btn-lg submit-button">
                            Search
                            <i class="fas fa-search search-icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>