<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/genre.css">
        <script src="https://kit.fontawesome.com/474ea9871e.js" crossorigin="anonymous"></script>
        <title>AnimeInfo</title>

        <link rel="apple-touch-icon" sizes="120x120" href="/favicon_package_v0.16/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0.16/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0.16/favicon-16x16.png">
        <link rel="manifest" href="/favicon_package_v0.16/site.webmanifest">
        <link rel="mask-icon" href="/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body style="background-image: linear-gradient(90deg, #d966ff, #ffffff)">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a href="{{url_for('home')}}" class="home-link">
                        AnimeInfo
                    </a>
                </li>
            </ul>
        </nav>
        <div class="body">
            <div class="row">
                <h1 class="searched-anime">
                    Your Anime Info: {{genre}}
                </h1>
                <a href="{{url_for('genreSearch')}}">
                    <button class="btn btn-primary new-search">
                        New Search
                    </button>
                </a>
            </div>
            {% for result in results %}
                <div class="contain">
                    <div class="genre-result">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="anime-img" src="{{result[4]}}" alt="image"/>
                            </div>
                            <div class="col-md-9">
                                <h2 class="title">{{result[0]}}</h2>
                                <h4>{{result[3]}}/10</h4>
                                <p>{{result[1]}}</p>
                                <a href={{result[2]}}  target="_blank">
                                    <button class="btn btn-primary">Streaming Link</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>