<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/anime.css">
        <title>AnimeInfo</title>
    </head>
    <body style="background-image: linear-gradient(90deg, #d966ff, #ffffff)">
        <div class="body">
            <h1>
                Your Anime Info: {{genre}}
            </h1>
            {% for result in results %}
                <h3>{{result[0]}}</h3>
                <p>{{result[1]}}</p>
            {% endfor %}
        </div>
    </body>
</html>