<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/genresearch.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/474ea9871e.js" crossorigin="anonymous"></script>
        <title>AnimeInfo</title>
    </head>
    <body class="body">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a href="{{url_for('home')}}" class="home-link">
                        AnimeInfo
                    </a>
                </li>
            </ul>
        </nav>
        <div class = "anime-search">
            <h1 class = "site-title">
                What <span class = "anime">Genre</span> are you looking for today?
            </h1>
            <form action="/genresearch" method="POST">
                <div class="genre-input-box">
                    <div class="dropdown">
                        <select name="genre">
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Cars">Cars</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Dementia">Dementia</option>
                            <option value="Demons">Demons</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Drama">Drama</option>
                            <option value="Ecchi">Ecchi</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Game">Game</option>
                            <option value="Historical">Historical</option>
                            <option value="Horror">Horror</option>
                            <option value="Kids Anime">Kids</option>
                            <option value="Magic Anime">Magic</option>
                            <option value="Martial Arts">Martial Arts</option>
                            <option value="Mecha">Mecha</option>
                            <option value="Music">Music</option>
                            <option value="Parody">Parody</option>
                        </select>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="btn btn-primary btn-lg submit-button">
                            Search
                            <i class="fas fa-search search-icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>