<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/home.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/474ea9871e.js" crossorigin="anonymous"></script>
        <title>AnimeInfo</title>
    </head>
    <body class="body">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a href="{{url_for('home')}}" class="home-link">
                        AnimeInfo
                    </a>
                </li>
            </ul>
        </nav>
        <div class = "anime-search">
            <h1 class = "site-title">
                Start <span class="keyword">Your</span> Anime Journey
            </h1>
            <form action="/home" method="POST">
                <div class="anime-input-box">
                    <div class="submit-button">
                        <input type="submit" name="animeSearch" value="Search Animes" class="btn btn-primary btn-lg selection-button">
                        <input type="submit" name="genreSearch" value="Search Genres" class="btn btn-primary btn-lg election-button">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>