<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="static/invalid.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/474ea9871e.js" crossorigin="anonymous"></script>
        <title>Invalid Anime Submission</title>

        <link rel="apple-touch-icon" sizes="120x120" href="/favicon_package_v0.16/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon_package_v0.16/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon_package_v0.16/favicon-16x16.png">
        <link rel="manifest" href="/favicon_package_v0.16/site.webmanifest">
        <link rel="mask-icon" href="/favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li>
                    <a href="{{url_for('home')}}" class="home-link">
                        AnimeInfo
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <h1 class="invalid-info">
                The Anime you  submitted was invalid. Try submitting again?
            </h1>
            <form action="/invalid" method="POST">
                <div class="anime-input-box">
                    <div class="submit-button">
                        <input type="submit" name="animeSearch" value="Return to Anime Search" class="btn btn-primary btn-lg selection-button">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>